﻿body {
}

    body .topbar {
        background-color: rebeccapurple;
    }

        body .topbar .mainbar {
            width: 80%;
            
            margin: auto;
            display: flex;
            flex-wrap: nowrap;
        }

            body .topbar .mainbar .contact {
                flex-grow: 4;
               
                display: flex;
                justify-content: unsafe center;
                gap: 10px;
            }

            body .topbar .mainbar .login {
                flex-grow: 2;
                
                display: flex;
                justify-content: flex-start;
                gap: 5px;
            }

    body .main_container {
        width: 80%;
       
        margin: auto;
        display: flex;
        flex-wrap: nowrap;
    }

        body .main_container .baner_container {
            flex-grow: 1;
            
            display: flex;
            justify-content: center;
            img
{
    height: 150px;
    width: 480px;
}
        }

            body .main_container .baner_container .imge1 {
                height: 150px;
                width: 200px;
            }
            